﻿@model IEnumerable<Mdm_Alea.Models.PersonnageModel>


<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatutId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sante)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatutId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sante)
        </td>
    </tr>
}

</table>
