﻿@model Mdm_Alea.Models.ObjectifModel

@{
    ViewBag.Title = "InsertObjectif";
}

<h2>Initialiser les objectifs</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <ul>
        <li>
            <h4> Catégorie : </h4>
            <select class="selectpicker" name="CategorieId">
                @foreach (AleaDAL.Entities.Categorie item in Model.Categorie)
                {
                    <option value="@item.Id"> @item.Nom </option>
                }
            </select>
        </li>
        <br />
        <li>
            <h4> Ressources nécessaires : </h4>
            @{ int i = 0; }
            @foreach (AleaDAL.Entities.Ressources item in Model.Ressources)
            {
                <ul name="RessourceId">
                    <li id="Id" value="@item.Id"> @item.Nom </li>
                </ul>
                <input class="form-control" id="Quantite" type="number" name="Ressources[@i].Quantite" value="@item.Quantite" />
                <input type="hidden" name="Ressources[@i].Id" value="@item.Id" />
                <br />
                i++;
            }
            <input id="send" type="submit" value="Valider" />
            @if (TempData["SuccessMessage"] != null)
            {
                <p class="alert alert-success" id="successMessage"> @TempData["SuccessMessage"]</p>
            }
        </li>
    </ul>






        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>*@
    </div>
    }
