﻿@model Mdm_Alea.Models.BesoinModel

@{
    ViewBag.Title = "InsertBesoin";
}

<h2>Initialiser les besoins</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">

        @Html.LabelFor(model => model.Temps, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Temps, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Temps, "", new { @class = "text-danger" })
        </div>
    </div>


        <div class="form-group col-md-10">
            <h4> Catégorie : </h4>
            <select class="selectpicker" name="CategorieId">

                @foreach (AleaDAL.Entities.Categorie item in Model.Categorie)
                {
                    <option value="@item.Id"> @item.Nom </option>
                }
            </select>
        </div>
        <div class="form-group col-md-10">
            <h4> Ressources nécessaires : </h4>

            @{ int i = 0; }
            @foreach (AleaDAL.Entities.Ressources item in Model.Ressources)
            {
                <ul name="RessourceId">
                    <li id="Id" value="@item.Id"> @item.Nom </li>
                </ul>
                <input class="form-control" id="Quantite" type="number" name="Ressources[@i].Quantite" value="@item.Quantite" />
                <input type="hidden" name="Ressources[@i].Id" value="@item.Id" />

                i++;
            }
            <br/>
            <input id="send" type="submit" value="Valider" class="btn btn-default" />
        </div>
</div>
}

