﻿@model Mdm_Alea.Models.EvenementModel

@{
    ViewBag.Title = "InsertEvenement";
}

<h2>Initialiser des évènements</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-10">
        <h4> Catégorie : </h4>
        <select class="selectpicker" name="CategorieId">

            @foreach (AleaDAL.Entities.Categorie item in Model.Categorie)
            {
                <option value="@item.Id"> @item.Nom </option>
            }
        </select>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <h4> Ressources perdues : </h4>
            @{ int i = 0; }
            @foreach (AleaDAL.Entities.Ressources item in Model.Ressources)
            {
                <ul name="RessourceId">
                    <li id="Id" value="@item.Id"> @item.Nom </li>
                </ul>
                <input class="form-control" id="Quantite" type="number" name="Ressources[@i].Quantite" value="@item.Quantite" />
                <input type="hidden" name="Ressources[@i].Id" value="@item.Id" />
                i++;
            }
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.General, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.General)
                @Html.ValidationMessageFor(model => model.General, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Créer" class="btn btn-default" />
        </div>
    </div>
</div>
}

