﻿@model Mdm_Alea.Models.InsertPersoModel

@{
    ViewBag.Title = "InsertPerso";
}


<h2>Initialiser les personnages</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <br />

    <div class="form-group col-md-10">
        <h4> Statut : </h4>
        <select class="selectpicker" name="StatutId">
            @foreach (AleaDAL.Entities.Statut item in Model.Statut)
            {
                <option value="@item.Id"> @item.Nom </option>
            }
        </select>
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-10">
            <h4> Ressources : </h4>
            @{ int i = 0; }
            @foreach (AleaDAL.Entities.Ressources item in Model.Ressources)
            {
                <ul name="RessourceId">
                    <li id="Id" value="@item.Id"> @item.Nom </li>
                </ul>
                <input class="form-control" id="Quantite" type="number" name="Ressources[@i].Quantite" value="@item.Quantite" />
                <input type="hidden" name="Ressources[@i].Id" value="@item.Id" />
                i++;
            }
        </div>
    </div>
    <br />

    <h4> Choississez les objectifs du personnage : </h4>
    <div class="form-group">
        <div class="col-md-10" id="formulaireObj">

            <select class="selectpicker show-tick" name="PickedObjectifs" multiple title="Objectifs">
                @foreach (var item in Model.Objectifs)
                {
                    <option value="@item.Id">  @item.Nom </option>
                }
            </select>

        </div>
    </div>

    <h4> Choississez les besoins du personnage : </h4>
    <div class="form-group">
        <div class="col-md-10" id="formulaireBesoins">

            <select class="selectpicker show-tick" name="PickedBesoins" multiple title="Besoins">
                @foreach (var item in Model.Besoins)
                {
                    <option value="@item.Id">  @item.Nom </option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Créer" class="btn btn-default" />
        </div>
    </div>
</div>
}


