﻿@model Mdm_Alea.Models.InsertPersoModel

@{
    ViewBag.Title = "InsertPerso";
}

<h2>InsertPerso</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>InsertPersoModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>


    @*@Html.DropDownListFor((m)=>m.BesoinId,Model.Besoins.Select(b=>new SelectListItem() { Text = b.Nom, Value=b.Id.ToString()}))*@
    <ul>
        <li>
                <h4> Besoins : </h4>
            <select name="BesoinId">
                @foreach (AleaDAL.Entities.Besoins item in Model.Besoins)
                {
                    <option value="@item.Id"> @item.Nom </option>
                }
            </select>
        </li>
        <li>
            <h4> Statut : </h4>
            <select name="StatutId">
                @foreach (AleaDAL.Entities.Statut item in Model.Statut)
                {
                    <option value="@item.Id"> @item.Nom </option>
                }
            </select>
        </li>
        <li>
            <h4> Objectif : </h4>
            <select name="ObjectifId">

                @foreach (AleaDAL.Entities.Objectifs item in Model.Objectifs)
                {
                    <option value="@item.Id"> @item.Nom </option>
                }
            </select>
        </li>
        <li>
            <h4> Ressources : </h4>
            @*<select name="RessourceId">*@
                <form method="post">

                    @foreach (AleaDAL.Entities.Ressources item in Model.Ressources)
                    {
                        <p id ="ress" value="@item.Id"> @item.Nom </p>
                        <input type="number" id="quantite" name="quantiteressource"/>
                    }

                </form>
            @*</select>*@
        </li>
    </ul>

    @section scripts{
        <script>
            $(document).ready(function () {
                $('select').formSelect();
                let btn = document.getElementById("btn");
                let ress = document.getElementById("ress").value;
                let quant = document.getElementById("quantite").value;

                btn.addEventListener("click", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "@Url.Action("Perso", "InsertPerso")",
                        data: {
                            ressource: ress,
                            quantity: quant
                        },
                        dataType: "text",
                        
                    })
                });

            })

        </script>
        }


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
