﻿@model Mdm_Alea.Models.SearchFormModel

@{
    ViewBag.Title = "SearchPerso";
}


<h2>Chercher un personnage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" id="form">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <label for="@Model.NomPerso"> Nom du personnage : </label>
            @Html.EditorFor(model => model.NomPerso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomPerso, "", new { @class = "text-danger" })
        </div>
    </div>


    <select class="selectpicker show-tick" name="PickedStatut" multiple title="Choisissez un statut...">
        @foreach (var item in Model.AllStatuts)
        {
            <option value="@item.Id">@item.Nom</option>
        }
    </select>

    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-outline-dark" id="send" type="submit" value="Chercher" />
        </div>
    </div>
</div>
}

<div id="result">


</div>

@section scripts{

    <script>

    $(document).ready(function () {
        let btn = document.getElementById("send");
        let form = document.querySelector("form");
        let result = document.getElementById("result");

        btn.addEventListener("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("AjaxSearch", "Admin")",
                method: "POST",
                data: $(form).serialize(),
                dataType: "HTML",
                success: function (data) {
                    result.innerHTML = data;
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });
    });
    </script>
}
