﻿
@{
    ViewBag.Title = "Chat";
}

<h2>Le chat de Line Pout et l'Aude Pout</h2>

<div>
    <ul id="gensConnectes"></ul>
</div>


<div>
    <div id="chat"></div>

    <div>
        <input type="text" id="inputText" />
        <input type="button" onclick="send()" value="Envoyer le message" />
    </div>
</div>


@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/petitchat/hubs"></script>

    <script>
        // connection au hub
        const Th = $.connection.myHub1;
        $.connection.logging = true;
        // récupère la fonction côté serveur
        Th.client.sendMessage = fnSendMessage;
        Th.client.messagePrive = fnMessagePrive;
        Th.client.showConnections = fnShowCo;

        ////////////////////////////////////// Initialiser la connexion /////////////////////////////////////////
        $.connection.hub.start()
        .done(
        function (data) {

            console.log()
            Th.server.listConnection();
            console.log("SignalR Ok");
        })


        ////////////////////////////////////// Envoyer des messages /////////////////////////////////////////
        function send() {
            let inputText = document.getElementById("inputText").value;
            console.log(inputText)
            Th.server.sendMessage(inputText);
        }

        function fnSendMessage(message) {
            let chat = document.getElementById("chat");
            let msg = chat.appendChild(document.createElement("div"));
            msg.innerHTML = message;
            document.getElementById("inputText").value = "";
        }

        ////////////////////////////////////// Voir les  gens connectés  /////////////////////////////////////////
        function fnShowCo(connection) {
            let con = document.getElementById("gensConnectes");
            for (var i = 0; i < connection.length; i++) {
                let item = con.appendChild(document.createElement("li"))
                item.innerHTML += connection[i]
                let btn = con.appendChild(document.createElement("input"));
                btn.setAttribute("type", "button");
                btn.setAttribute("value", "MP moi");
                btn.setAttribute("id", connection[i]);
                btn.setAttribute("onclick", "mpMoi('" + connection[i] +"')");
            }
        }


        ////////////////////////////////////// Message privé /////////////////////////////////////////
        function mpMoi(id) {
            let inputText = document.getElementById("inputText").value;
            Th.server.messagePrive(inputText, id);
        }


        function fnMessagePrive(message) {
            let chat = document.getElementById("chat");
            let msg = chat.appendChild(document.createElement("div"));
            msg.innerHTML = message;
            document.getElementById("inputText").value = "";
        }

    </script>

}