﻿@model IEnumerable<Mdm_Alea.Models.PersonnageModel>

@{
    ViewBag.Title = "ListePerso";
}

<h2>Voici tous les personnages du jeu </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sante)
        </td>
        <td>
            @Html.ActionLink("Voir ce personnage", "Perso", new { id=item.Id }) |

        </td>
    </tr>
}

</table>
