﻿@model Mdm_Alea.Models.PersonnageModel

@{
    ViewBag.Title = "Perso";
}

<h2>Perso</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="body-content">
        @Html.LabelFor(model => model.Sante, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sante, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sante, "", new { @class = "text-danger" })
        </div>
    </div>


    <div>
        <h4> Besoins : </h4>

            <tr>
        @foreach (var item in Model.Besoins)
        {
                <td> @item.Nom </td>
                <td> @item.Description </td>
                <td> @item.Statut </td>
        }
            </tr>
    </div>

    <div>
        <h4> Objectifs : </h4>
        @foreach (var item in Model.Objectifs)
        {

            <tr>
                <td> @item.Nom </td>
                <td> @item.Description </td>
                <td> @item.Statut </td>
            </tr>
        }
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
