﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <title>@ViewBag.Title - Alea</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Content/Custom")*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

                @Html.ActionLink("Alea", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Personnage", "InsertPerso", "Admin")</li>
                    <li>@Html.ActionLink("Besoin ", "InsertBesoin", "Admin")</li>
                    <li>@Html.ActionLink("Catégorie", "InsertCategorie", "Admin")</li>
                    <li>@Html.ActionLink("Evènement", "InsertEvenement", "Admin")</li>
                    <li>@Html.ActionLink("Objectif", "InsertObjectif", "Admin")</li>
                    <li>@Html.ActionLink("Ressource", "InsertRessource", "Admin")</li>
                    <li>@Html.ActionLink("Statut", "InsertStatut", "Admin")</li>
                    <li>@Html.ActionLink("Rechercher un personnage", "SearchPerso", "Admin")</li>
                    <li>@Html.ActionLink("Consulter les personnages", "ListePerso", "Perso")</li>
                    <li>@Html.ActionLink("Le chat de Line Pout & l'Aude Pout", "Chat", "Chat")</li>

                </ul>
            </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ALEA - Le jeu de la vie</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

